NODE_ENV=development
SERVER_PORT=3000
GTCORE_URL=http://127.0.0.0:4200/
GEO_IP_API_KEY=ABCTESTDEF

JWT_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTY2Nzg5MzAwMSwiaWF0IjoxNjY3ODkzMDAxfQ.JAfSETzSWOn2j59XHTrgG7zpMYL30UvxmZAS3NiUVkI
JWT_ACCESS_EXPIRE=1d
BCRYPT_SALT_ROUNDS=10
THROTTLE_TTL=60
THROTTLE_LIMIT=100

SQLSERVER_HOST=sqlserver
SQLSERVER_USER=root
SQLSERVER_PASSWORD=12345
SQLSERVER_DB=example

MAILER_HOST=smtp.sendgrid.net
MAILER_USERNAME=apikey
MAILER_PASSWORD=
MAILER_PORT=25
MAILER_FROM_EMAIL=

FILE_STACK_KEY=test
FILE_STACK_CONTAINER=secure/gtcor-dev
FILE_STACK_SIGNATURE=test
FILE_STACK_POLICY=test